doctype html
html
  head
    title Integer Sequence Font
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="node_modules/furls/furls.js")
    script(type="text/javascript", src="node_modules/font-webapp/font-webapp.js")
    script(type="text/javascript", src="font.js")
    script(type="text/javascript", src="index.js")
    style
      :stylus
        @media print
          .noprint
            display: none

        .w-100
          width: 100%
        .align-center
          text-align: center
        textarea
          vertical-align: middle

        svg
          width: 100%
          height: 100%
        #sequence div
          border: solid thin
          padding: 0.2em 0.5em
        .length
          font-weight: bold
          font-style: italic
          padding-left: 0.75em
    //#include virtual="../../analytics.html"
  body
    table.w-100
      tr
        td(style="text-align: left; vertical-align: middle;")
          h1 Integer Sequence Font
        td(style="text-align: right; vertical-align: middle;")
          h2 by <a href="https://cinquantesignes.blogspot.com/">&Eacute;ric Angelini</a>, <a href="//erikdemaine.org/">Erik Demaine</a>, <a href="http://martindemaine.org/">Martin Demaine</a>, Carole Dubois, 2023

    table#data.noprint.w-100
      tr
        td
          label(for="text") Enter text to render:
          | &nbsp;
          textarea#text(name="text", rows=4, cols=40) text
        td
          table
            tr
              td
              td.align-center Size
              td.align-center Color
            tr
              td Dots
              td
                input#dots(type="range", min=0, max=2, value=1, step=0.1)
              td
                input#dotColor(type="color", value="#000000")
            tr
              td Lines
              td
                input#lines(type="range", min=0, max=2, value=0, step=0.1)
              td
                input#lineColor(type="color", value="#6d00a8")
            tr
              td Axes
              td
                input#axes(type="range", min=0, max=2, value=0.4, step=0.1)
              td
                input#axisColor(type="color", value="#808080")
        td Interrupt lines at
          br
          select#interrupt
            option(selected) row
            option word
            option letter

    p

    #output.w-100
      svg#svg
        style
          include:stylus sequence.styl
        style#state
        marker#arrow(viewBox="0 0 10 10", refX="10", refY="5", orient="auto",
                     markerWidth="4", markerHeight="4", overflow="visible")
          path#arrowPath(d="M 0 0 L 10 5 L 0 10", fill="none", stroke="black",
            stroke-width="2.5", stroke-linecap="round", stroke-linejoin="round")

    #sequence.w-100

    .noprint(style="text-align: right")
      button#downloadSVG Download SVG

    hr.noprint

    p.noprint.
      This typeface represents each letter and digit by a finite
      <a href="https://en.wikipedia.org/wiki/Integer_sequence">sequence of integers</a>,
      generally between 1 and 19.
      (As a special exception, spaces use negative numbers.)
      By combining these sequences together, we can represent
      any desired text by an integer sequence
      (shown at the bottom under <b>Sequence</b>).
    
    p.noprint.
      The sequence is designed to look like the text when
      <b>plotted</b> or <b>graphed</b>,
      where the <i>x</i> coordinate is the sequence position and
      the <i>y</i> coordinate is the integer in the sequence.
      This is a challenging constraint for font design, because it means that
      there is exactly one dot at each integer <i>x</i> coordinate.
      Two types of plots are available:
      a scatter plot with <b>dots</b>, which makes the text readable;
      and a <b>line</b> plot, which depending on the line thickness
      makes the text challenging to read &mdash; a <b>puzzle font</b>.
      Of course, another puzzle font is the integer <b>sequence</b> at the
      bottom, which requires the reader to make their own plot.

    p.noprint.
      This typeface is inspired by
      <a href="https://oeis.org/">The On-Line Encyclopedia of Integer Sequences</a> (OEIS),
      created by <a href="http://neilsloane.com/">Neil J. A. Sloane</a>.
      The OEIS has hundreds of thousands of integer sequences
      (<a href="https://oeis.org/search?q=keyword%3Afini&sort=&language=english&go=Search">most of them infinite</a>),
      serving as a useful resource for mathematicians to discover the names of
      and equivalences between combinatorial structures.

    p.noprint.
      Using the controls at the top,
      you can modify the dot <b>size</b> and <b>color</b> of the scatter plot,
      and the line thickness and color of the line plot,
      as well as the thickness and color of the axes.
      If you set any size/thickness to zero, that component disappears entirely.
      You can also choose to <b>interrupt</b> the line plot at each word or
      letter boundary, to make the puzzle font a bit easier to read.

    p.noprint.
      <b>Self-graphing sequence.</b>
      You can use this typeface to make an infinite sequence
      whose graph gives the sequence itself,
      because the sequence for &ldquo;1&rdquo; starts with 1.
      <a href="?text=1%2C3%2C5%2C7%2C9%2C11%2C13%2C15%2C17%2C19%2C0%2C1%2C−5%2C−5%2C4%2C2%2C1%2C1%2C1%2C18%2C10%2C%0A2%2C19%2C10%2C4%2C19%2C9%2C11%2C18%2C15%2C0%2C1%2C−5%2C−5%2C1%2C1%2C1%2C11%2C14%2C9%2C17%2C1%2C%0A19%2C9%2C3%2C19%2C7%2C9%2C19%2C19%2C19%2C0%2C1%2C−5%2C−5%2C1%2C2%2C3%2C4%2C5%2C19%2C7%2C19%2C%0A9%2C19%2C11%2C19%2C13%2C19%2C15%2C19%2C17%2C19%2C19%2C0%2C1%2C−5%2C−5%2C2%2C1%2C1%2C13%2C%0A17%2C10%2C1%2C19%2C10%2C5%2C19%2C9%2C11%2C18%2C15%2C0%2C1%2C−5%2C−5%2C1%2C3%2C5%2C7%2C9%2C%0A11%2C13%2C15%2C17%2C19%2C1%2C3%2C5%2C7%2C9%2C11%2C13%2C15%2C17%2C19%2C0%2C1%2C−5%2C−5%2C1%2C%0A3%2C5%2C7%2C9%2C11%2C13%2C15%2C17%2C19%2C4%2C2%2C1%2C1%2C1%2C18%2C10%2C2%2C19%2C10%2C4%2C19%2C%0A9%2C11%2C18%2C15%2C0%2C1%2C−5%2C−5%2C1%2C3%2C5%2C7%2C9%2C11%2C13%2C15%2C17%2C19%2C1%2C1%2C1%2C11%2C%0A14%2C9%2C17%2C1%2C19%2C9%2C3%2C19%2C7%2C9%2C19%2C19%2C19%2C0%2C1%2C−5%2C−5%2C1%2C3%2C5%2C7%2C9%2C%0A11%2C13%2C15%2C17%2C19%2C1%2C2%2C3%2C4%2C5%2C19%2C7%2C19%2C9%2C19%2C11%2C19%2C13%2C19%2C%0A15%2C19%2C17%2C19%2C19%2C0%2C1%2C−5%2C−5%2C1%2C3%2C5%2C7%2C9%2C11%2C13%2C15%2C17%2C19%2C%0A2%2C1%2C1%2C13%2C17%2C10%2C1%2C19%2C10%2C5%2C19%2C9%2C11%2C18%2C15%2C0%2C1%2C−5%2C−5%2C.....">Here are the first 5,821 terms</a>.
      The quest for this sequence, and an early version of this typeface,
      are described in
      <a href="http://cinquantesignes.blogspot.com/2021/08/oeis-self-graph-sequence.html">this blog post by Angelini</a> (in French).
      This version of a self-graphing sequence used to be part of the OEIS
      <a href="https://web.archive.org/web/20230305204922/https://oeis.org/A343884">as sequence A343884</a>,
      but it has since been removed (presumably because it is an object of
      design, not naturally occurring mathematics).
      [To see
      <a href="https://web.archive.org/web/20230305204922/https://oeis.org/A343884">the old A343884 sequence</a>,
      disable JavaScript to avoid being redirected to the new sequence.]

    p.noprint.
      Check out <a href="//erikdemaine.org/fonts/">other mathematical and
      puzzle fonts</a>. &bull; Feedback or not working?
      <a href="mailto:edemaine+fonts@mit.edu">Email Erik</a>. &bull;
      <a href="https://github.com/edemaine/font-sequence">Source code on GitHub</a>.
