doctype html
html
  head
    title Integer Sequence Font
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="node_modules/furls/furls.js")
    script(type="text/javascript", src="node_modules/font-webapp/font-webapp.js")
    script(type="text/javascript", src="font.js")
    script(type="text/javascript", src="index.js")
    style
      :stylus
        @media print
          .noprint
            display: none

        .w-100
          width: 100%
        .align-center
          text-align: center
        textarea
          vertical-align: middle

        svg
          width: 100%
          height: 100%
    //#include virtual="../../analytics.html"
  body
    table.w-100
      tr
        td(style="text-align: left; vertical-align: middle;")
          h1 Integer Sequence Font
        td(style="text-align: right; vertical-align: middle;")
          h2 by <a href="https://cinquantesignes.blogspot.com/">Eric Angelini</a>, <a href="//erikdemaine.org/">Erik Demaine</a>, <a href="http://martindemaine.org/">Martin Demaine</a>, Carole Dubois, 2023

    table#data.noprint.w-100
      tr
        td
          label(for="text") Enter text to render:
          | &nbsp;
          textarea#text(name="text", rows=4, cols=40) text
        td
          table
            tr
              td
              td.align-center Size
              td.align-center Color
            tr
              td Dots
              td
                input#dots(type="range", min=0, max=2, value=1, step=0.1)
              td
                input#dotColor(type="color", value="#000000")
            tr
              td Lines
              td
                input#lines(type="range", min=0, max=2, value=0, step=0.1)
              td
                input#lineColor(type="color", value="#000000")
            tr
              td Axes
              td
                input#axes(type="range", min=0, max=2, value=0.5, step=0.1)
              td
                input#axisColor(type="color", value="#000000")

    p

    #output.w-100
      svg#svg
        style
          include:stylus sequence.styl
        style#state
        marker#arrow(viewBox="0 0 10 10", refX="10", refY="5", orient="auto",
                     markerWidth="4", markerHeight="4", overflow="visible")
          path#arrowPath(d="M 0 0 L 10 5 L 0 10", fill="none", stroke="black",
            stroke-width="2.5", stroke-linecap="round", stroke-linejoin="round")

    .noprint(style="text-align: right")
      button#downloadSVG Download SVG

    hr.noprint

    p.noprint.

    p.noprint.
      Check out <a href="//erikdemaine.org/fonts/">other mathematical and
      puzzle fonts</a>. &bull; Feedback or not working?
      <a href="mailto:edemaine+fonts@mit.edu">Email Erik</a>. &bull;
      <a href="https://github.com/edemaine/font-sequence">Source code on GitHub</a>.
